{% extends 'base.html' %}
{% block content %}
Genre circulation

<table>
	<thead>
		<tr>
			<th scope="col">Year</th>
			<th scope="col">Month</th>
			<th scope="col">Genre</th>
			<th scope="col">Checkout count</th>
			<th scope="col">Checkout count (all-time)</th>
		</tr>
	</thead>
<tbody>
{% for row in data_rows %}
	<tr {% if row.month % 2 == 0 %} class="table_grouping_alt" {% endif %}>
		<th>{{ row.year }}</th>
		<td>{{ row.month }}</th>
		<td>{{ row.genre_name }}</th>
		<td>{{ row.period_checkout_count }}</th>
		<td>{{ row.lifetime_checkout_count }}</th>
	</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
