body {
	background-color: cornflowerblue;
}

form {
	padding: 1%;
}

input {
	margin: 3px 5px;
}

.page_number_div {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
}

.header_nav_buttons_div {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 0% 0.8% 0% 0.2%;
}

.form div {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

.list_display_div {
	display: flex;
	align-items: center;
	margin: 1% 0%;
}

.list_display_div p, a {
	margin: 0% 1%;
}

.book_list_display_cover_img {
	width: 30px;
	height: 40px;
}
