body {
	background-color: cornflowerblue;
}

.page_number_div {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
}

.header_nav_buttons {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin: 0% 0.8% 0% 0.2%;
}
