<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}KSU CIS560 Project{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header>
		<div class="header_div">
			<div>
				<h1>Library app </h1>
				<p>Sam Gido, Ryan Black, Aidan McGlynn</p>
			</div>

			<div class="header_nav_buttons_div">
			<a href="{{ url_for('view.create_customer') }}">
				<button>
					Create customer
				</button>
			</a>
			<a href="{{ url_for('view.disable_library_card') }}">
				<button>
					Disable library card
				</button>
			</a>
			<a href="{{ url_for('view.books', page_number=1) }}">
				<button>
					See books
				</button>
			</a>
			<a href="{{ url_for('view.return_book') }}">
				<button>
					Return book
				</button>
			</a>
			<a href="{{ url_for('view.analytics') }}">
				<button>
					Analytics
				</button>
			</a>
			</div>
		</div>
	</header>

	<main>
		{% block content %}{% endblock %}
	</main>
</body>
</html>
