{% extends 'base.html' %}
{% block content %}

<h1>Books</h1>

{% for book in books %}
	<div class="book_list_display_div">
	<img src="{{ book.cover_img_url }}" class="book_list_display_cover_img" />

	<a href="{{ url_for('book_details', book_id=book.book_id) }}">
		{{ book.title }}
	</a>

	<p>Genre: {{ book.genre }}</p>

	<p>Available: {% if book.available %}Y{% else %}N{% endif %}</p>
	</div>
{% endfor %}

<div class="page_number_div">
<a href="{{ url_for('books', page_number=(page_number-1)) }}">
	<button {% if page_number < 2 %} disabled {% endif %} >
		Prev page
	</button>
</a>

<p>Page {{ page_number }} of {{ page_count }}</p>

<a href="{{ url_for('books', page_number=(page_number+1)) }}">
	<button {% if page_number >= page_count %} disabled {% endif %}>
		Next page
	</button>
</a>
</div>

{% endblock %}
