{% extends 'base.html' %}
{% block content %}
	<img src="{{ book.cover_img_url }}"/>
	<p>{{ book.title }}</p>
	<p>By {{ book.author }}</p>

	<div>
		<p>{{ book.available_count }} / {{ book.total_count }} copies available for checkout</p>
		
		{% if book.available %}
			<a href="{{ url_for('view.checkout_book', book_id=book.book_id) }}">
				<button>Checkout</button>
			</a>
		{% endif %}

		{% if book.available_count < book.total_count %}
			<a href="{{ url_for('view.return_book', book_id=book.book_id) }}">
				<button>Return</button>
			</a>
		{% endif %}
	</div>
{% endblock %}
